@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;400&family=Bangers&family=Gloria+Hallelujah&family=Passion+One&family=Permanent+Marker&family=Roboto:wght@100&display=swap');
/********************************************************* MEJORAS******************************************************************/ 
nav ul li {
        
    display: inline-block;
    align-content: center;
    list-style-type: none;
    margin:20px;
}
.header{
    text-align: center;
}
.a {
    text-decoration: none;
    text-align: center;
    font-size:large;
    background-color: #302939cc;
    color: #ee5695e2;
    font-family: 'Gloria Hallelujah', cursive;
    display:inline-block;
    justify-content: space-between;
    letter-spacing: 00.1cm;
    padding: 15px;
    border: 3px solid #ee5695e2;
    border-style: solid;
    border-radius: 10px;

}


    
h2 {

    background-color:#302939dc ;
    text-align: center;
    color: #ee5695e2;
    font-family: 'Gloria Hallelujah', cursive;
    border: 3px solid #ee5695e2;
    border-style:solid;
    border-radius: 10px;
    letter-spacing: 0.25cm;
    padding: 20px 20px 20px 30px;}


    
      
    #wn{

            background-color:#ee5695c8 ;
            color:#302939cc ;
            display: inline-block;
            font-family: 'Gloria Hallelujah', cursive;
            font-size: large;
            text-decoration: none;
            text-align:center;
            margin-top: 15px;;
            padding: 10px 10px 10px 10px ;
            border: 3px solid #302939dc;
            border-radius: 10px;
        }
    

    .textoinicial {

        font-family: 'Anek Bangla', sans-serif;
        color: #f1b2cd;
        text-align: justify;
        background-color: #302939ee;
        border-radius: 10px;
        margin: 20px;
        padding: 30px 20px 20px 30px;}

        
.gifindex{
    float: right;
    clear: both;
margin: 20px;}
.gifizq{
    float: left;
    clear: both;
    margin: 20px;
}
.video{
    margin-left: 15%;
    clear: both;
}
 .back{
     background-color: #302939cc;
 }
 

    

 /*////////////////////ANIMACIONES///////////*/
 .tracking-in-expand:hover {
  -webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes tracking-in-expand {
0% {
letter-spacing: -0.5em;
opacity: 0;
}
40% {
opacity: 0.6;
}
100% {
opacity: 1;
}
}
@keyframes tracking-in-expand {
0% {
letter-spacing: -0.5em;
opacity: 0;
}
40% {
opacity: 0.6;
}
100% {
opacity: 1;
}
}
.bounce-top:hover{animation:bounce-top .9s both}

@-webkit-keyframes bounce-top {
0% {
-webkit-transform: translateY(-45px);
        transform: translateY(-45px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
opacity: 1;
}
24% {
opacity: 1;
}
40% {
-webkit-transform: translateY(-24px);
        transform: translateY(-24px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
65% {
-webkit-transform: translateY(-12px);
        transform: translateY(-12px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
82% {
-webkit-transform: translateY(-6px);
        transform: translateY(-6px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
93% {
-webkit-transform: translateY(-4px);
        transform: translateY(-4px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
25%,
55%,
75%,
87% {
-webkit-transform: translateY(0px);
        transform: translateY(0px);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
100% {
-webkit-transform: translateY(0px);
        transform: translateY(0px);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
opacity: 1;
}
}
@keyframes bounce-top {
0% {
-webkit-transform: translateY(-45px);
        transform: translateY(-45px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
opacity: 1;
}
24% {
opacity: 1;
}
40% {
-webkit-transform: translateY(-24px);
        transform: translateY(-24px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
65% {
-webkit-transform: translateY(-12px);
        transform: translateY(-12px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
82% {
-webkit-transform: translateY(-6px);
        transform: translateY(-6px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
93% {
-webkit-transform: translateY(-4px);
        transform: translateY(-4px);
-webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
}
25%,
55%,
75%,
87% {
-webkit-transform: translateY(0px);
        transform: translateY(0px);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
}
100% {
-webkit-transform: translateY(0px);
        transform: translateY(0px);
-webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
opacity: 1;
}
}
.roll-in-left {
-webkit-animation: roll-in-left 0.8s ease-out both;
    animation: roll-in-left 0.8s ease-out both;
}


@-webkit-keyframes roll-in-left {
0% {
-webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
opacity: 0;
}
100% {
-webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
opacity: 1;
}
}
@keyframes roll-in-left {
0% {
-webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
opacity: 0;
}
100% {
-webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
opacity: 1;
}
}
.scale-up-hor-left:hover {
-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
0% {
-webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
-webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
}
100% {
-webkit-transform: scaleX(1);
        transform: scaleX(1);
-webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
}
}
@keyframes scale-up-hor-left {
0% {
-webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
-webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
}
100% {
-webkit-transform: scaleX(1);
        transform: scaleX(1);
-webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
}
}
li {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
li:hover, li:focus, li:active {
-webkit-transform: translateY(-8px);
transform: translateY(-8px);}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



 /*BACKGROUND*/

 .body1 {
    background-image: url("https://preview.redd.it/chpne07xcm561.jpg?width=960&crop=smart&auto=webp&s=c2f2ea28135d9c91dbb5c605fcbd222aef3e8e21");
    background-size: cover;


}

.body2 {
    background-image: url("https://preview.redd.it/ne8oqdotffb61.jpg?width=960&crop=smart&auto=webp&s=220ff3e815d6ed62945435b637c98f74a4f91c1f");
    background-size: cover;
}

.body3{
    background-image: url("https://preview.redd.it/pyc8x52rukc61.jpg?width=960&crop=smart&auto=webp&s=eb95bb304d3736ef8603ef0cf1f2fcfc280818ce");
    background-size: auto;
}

.body4{
background-image: url("https://i.redd.it/6tyi4v5xg7b61.jpg");
background-size: cover;
}
.body5{

background-image: url("https://i.redd.it/4ggz7tb5aqh61.jpg");
background-size:cover;
}

.body6{background-image: url("https://i.redd.it/1tez8shazvi61.jpg");
background-size: cover;}


/*//////////////////////////////////////////////////////// M E D I D A S/////////////////////////////////////////////////////////////////*/
*{
    padding: 0;
    margin: 0.5%;
 }
 
 
 #header{
    grid-area: header;
    align-items: center;
}
#nav{
    grid-area: nav;
    background-color: #302939cc;
        border-radius: 5px
}
#wnew{
    grid-area: wnew;
    background-color: #302939cc;
}
#vs{
    grid-area: vs;
    background-color: #302939cc;
}
#txt{
    grid-area: txt;
}
#footer{
    grid-area: footer;
    background-color: aqua;
}
 #grilla{
    display: grid;
    grid-template-areas:
    
    "nav"
    "txt"
    "wnew"
    "vs"
    "footer";
    grid-template-columns:100%;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 2%;
 }

/*MEDIDAD IPAD*/
   @media(min-width:768px){
        #grilla{
        display: grid;
        grid-template-areas: 
       
        "nav nav"
        " txt  txt "
        " wnew  wnew"
        "vs    vs"
        "footer footer";
    
    grid-template-columns: auto;
    grid-template-rows:auto;
    justify-content: space-around;
    gap: 2%;
    }


/*MEDIDA DESKTOP*/

@media(min-width:1012px){
    #grilla{
        display: grid;
        grid-template-areas: 
        
        "nav "
        "txt"
        " wnew"
        "wnew"
        "vs"
        "footer";
    
        grid-template-columns: auto;
        grid-template-rows:auto;
        justify-content: space-around;
        gap: 2%;

    }
}

/*GRILLA HISTORIA*/
.quees{
    grid-area: quees;
   
}

.cara{
    grid-area: cara;
}
.contro{
    grid-area: contro;
}

@media(min-width:768px){


#grillahistoria{
    display: grid;
    grid-template-areas: 
         "nav    nav"
        "quees  quees"
         "cara  contro"
         "cara  contro "
         "footer footer";
    
    grid-template-columns: auto;
    grid-template-rows:auto;
    justify-content: space-around;
    gap: 2%;

}}

@media(min-width:1024px){
    #grillahistoria{
        display: grid;
        grid-template-areas: 
    "nav"
    "quees"
    "cara"
    "contro"
    "footer";

        
grid-template-columns:auto;
grid-template-rows: auto;
justify-content: space-around;
gap: 2%;
    }
}

/*GRILLA EXPONENTES*/

.dy{
    grid-area: dy;

}
.kg{
    grid-area: kg;

}
.bb{
    grid-area:bb;

}
.jb{
    grid-area: jb;

}
.do{
    grid-area: do;

}
.ra{
    grid-area: ra;

}
.bg{
    grid-area: bg;

}
.ma{
    grid-area: ma;

}
.mt{
    grid-area: mt;

}
.ar{
    grid-area: ar;
}
@media(min-width:768px){
    #grillaexpo{
        display:grid;
        grid-template-areas:
        "nav nav"
        "dy   kg"
        "bb   jb"
        "do   ra"
        "bg   ma"
        "mt   ar"
        "footer footer";
        grid-template-columns:auto;
grid-template-rows: auto;
justify-content: space-around;
gap: 2%;
    }   
    }

    @media (min-width:1024px){
        #grillaexpo{
            display:grid;
            grid-template-areas:
        "nav nav"
        "dy   kg"
        "bb   jb"
        "do   ra"
        "bg   ma"
        "mt   ar"
        "footer footer";
        
            grid-template-columns:auto;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 2%;
        }}

        /*GRILLA CONCIERTOS*/
        .conciertos{
            grid-area: conciertos;}

  @media (min-width:1024px){
    .grids{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;}}

  

  /*GRILLA BAILA*/

  .bailar{
    grid-area: bailar;}

.cadera{
    grid-area: cadera;}

.pies {
    grid-area: pies;
}
.arriba{
    grid-area: arriba;
}
.body{
    grid-area: body;
}
.actitud{
    grid-area:actitud;
}

@media(min-width:768px){
    #grillabaila{
        display:grid;
        grid-template-areas:
        "nav      nav"
        "bailar  cadera"
        "pies    arriba"
        "body    actitud"
        "footer footer";
        grid-template-columns:auto;
grid-template-rows: auto;
justify-content: space-around;
gap: 2%;}
    }

    @media (min-width:1024px){
        #grillabaila {
           display: grid;
           grid-template-areas: 
           "nav            nav          nav"
           "bailar       cadera         pies"
           "arriba         body        actitud"
           "footer footer footer";
           grid-template-columns:auto;
           grid-template-rows: auto;
           justify-content: space-around;
           gap: 2%;
       }
         }

/*GRILLA CONTACTO*/
.formulario{
    grid-area: formulario;}
.box{
    border: 3px solid #302939cc;
    border-radius: 5px;
}
@media(min-width:1024px){
    #grillacontacto{
        display:grid;
        grid-template-areas:
        "nav"
        "formulario"
        " formulario"
        "footer";
        grid-template-columns:auto;
grid-template-rows: auto;
justify-content: space-around;
gap: 2%;}
    }

   }