@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;400&family=Bangers&family=Gloria+Hallelujah&family=Passion+One&family=Permanent+Marker&family=Roboto:wght@100&display=swap");
h2 {
  background-color: #302939dc;
  text-align: center;
  color: #ee5695e2;
  font-family: 'Gloria Hallelujah', cursive;
  border: 3px solid #ee5695e2;
  border-style: solid;
  border-radius: 10px;
  letter-spacing: 0.25cm;
  padding: 20px 20px 20px 30px;
}

nav ul li {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
  margin: 20px;
}

.header {
  text-align: center;
}

.generales_extend, .a, #wn, .btn--twitter, .btn--facebook, .btn--instagram {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: large;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.a {
  background-color: #302939cc;
  color: #ee5695e2;
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 00.1cm;
  padding: 15px;
  border: 3px solid #ee5695e2;
  border-style: solid;
}

#wn {
  background-color: #ee5695c8;
  color: #302939cc;
  display: inline-block;
  margin-top: 15px;
  padding: 20px;
  border: 3px solid #302939dc;
}

.gifindex {
  float: right;
  clear: both;
  margin: 20px;
}

.gifizq {
  float: left;
  clear: both;
  margin: 20px;
}

/*mapas*/
.btn--twitter {
  background-color: #1DA1F2;
  padding: 10px;
}

.btn--facebook {
  background-color: #4267B2;
  padding: 10px;
}

.btn--instagram {
  background-color: #E1306C;
  padding: 10px;
}

.btn--twitter {
  background-color: #1DA1F2;
}

.btn--facebook {
  background-color: #4267B2;
}

.btn--instagram {
  background-color: #E1306C;
}

.btn-outline-dark {
  color: #000000c8;
  background-color: #ee5695c8;
  border-color: #212529;
}

.navbar-toggler {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem;
          box-shadow: 0 0 0 0.25rem;
}

.textoinicial {
  font-family: 'Anek Bangla', sans-serif;
  color: #f1b2cd;
  text-align: justify;
  background-color: #302939ee;
  border-radius: 10px;
  margin: 20px;
  padding: 30px 20px 20px 30px;
}

.delimitador {
  width: 560px;
  margin: auto;
}

.contenedor {
  height: 0px;
  width: 100%;
  max-width: 560px;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  left: 0px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

img {
  height: auto;
  max-width: 100%;
}

.back {
  background-color: #302939cc;
}

.carousel-item {
  display: none;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 2% 45% 4% 35%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
}

/*BACKGROUND*/
.body1 {
  background-image: url("https://preview.redd.it/chpne07xcm561.jpg?width=960&crop=smart&auto=webp&s=c2f2ea28135d9c91dbb5c605fcbd222aef3e8e21");
  background-size: cover;
}

.body2 {
  background-image: url("https://preview.redd.it/ne8oqdotffb61.jpg?width=960&crop=smart&auto=webp&s=220ff3e815d6ed62945435b637c98f74a4f91c1f");
  background-size: cover;
}

.body3 {
  background-image: url("https://preview.redd.it/pyc8x52rukc61.jpg?width=960&crop=smart&auto=webp&s=eb95bb304d3736ef8603ef0cf1f2fcfc280818ce");
  background-size: auto;
}

.body4 {
  background-image: url("https://i.redd.it/6tyi4v5xg7b61.jpg");
  background-size: cover;
}

.body5 {
  background-image: url("https://i.redd.it/4ggz7tb5aqh61.jpg");
  background-size: cover;
}

.body6 {
  background-image: url("https://i.redd.it/1tez8shazvi61.jpg");
  background-size: cover;
}

/*////////////////////ANIMACIONES///////////*/
.tracking-in-expand:hover {
  -webkit-animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bounce-top:hover {
  -webkit-animation: bounce-top .9s both;
          animation: bounce-top .9s both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.8s ease-out both;
  animation: roll-in-left 0.8s ease-out both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.scale-up-hor-left:hover {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

li:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*//////////////////////////////////////////////////////// M E D I D A S/////////////////////////////////////////////////////////////////*/
* {
  padding: 0;
  margin: 0.5%;
}

#header {
  grid-area: header;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #302939cc;
  border-radius: 5px;
}

#wnew {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: wnew;
  background-color: #302939cc;
}

#vs {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: vs;
  background-color: #302939cc;
}

#txt {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: txt;
}

#footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #302939cc;
}

#grilla {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav" "txt" "wnew" "vs" "footer";
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2%;
}

/*MEDIDAD IPAD*/
@media (min-width: 768px) {
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav nav" " txt  txt " " wnew  wnew" "vs    vs" "footer footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
  /*MEDIDA DESKTOP*/
}

@media (min-width: 768px) and (min-width: 1012px) {
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav " "txt" " wnew" "wnew" "vs" "footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) {
  /*GRILLA HISTORIA*/
  .quees {
    grid-area: quees;
  }
  .cara {
    grid-area: cara;
  }
  .contro {
    grid-area: contro;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  #grillahistoria {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav    nav" "quees  quees" "cara  contro" "cara  contro " "footer footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  #grillahistoria {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav" "quees" "cara" "contro" "footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) {
  /*GRILLA EXPONENTES*/
  .dy {
    grid-area: dy;
  }
  .kg {
    grid-area: kg;
  }
  .bb {
    grid-area: bb;
  }
  .jb {
    grid-area: jb;
  }
  .do {
    grid-area: do;
  }
  .ra {
    grid-area: ra;
  }
  .bg {
    grid-area: bg;
  }
  .ma {
    grid-area: ma;
  }
  .mt {
    grid-area: mt;
  }
  .ar {
    grid-area: ar;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  #grillaexpo {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav nav" "dy   kg" "bb   jb" "do   ra" "bg   ma" "mt   ar" "footer footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  #grillaexpo {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav nav" "dy   kg" "bb   jb" "do   ra" "bg   ma" "mt   ar" "footer footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) {
  /*GRILLA CONCIERTOS*/
  .conciertos {
    grid-area: conciertos;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .grids {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.3% 33.3% 33.3%;
        grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media (min-width: 768px) {
  /*GRILLA BAILA*/
  .bailar {
    grid-area: bailar;
  }
  .cadera {
    grid-area: cadera;
  }
  .pies {
    grid-area: pies;
  }
  .arriba {
    grid-area: arriba;
  }
  .body {
    grid-area: body;
  }
  .actitud {
    grid-area: actitud;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  #grillabaila {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav      nav" "bailar  cadera" "pies    arriba" "body    actitud" "footer footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  #grillabaila {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav            nav          nav" "bailar       cadera         pies" "arriba         body        actitud" "footer footer footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}

@media (min-width: 768px) {
  /*GRILLA CONTACTO*/
  .formulario {
    grid-area: formulario;
  }
  .box {
    border: 3px solid #302939cc;
    border-radius: 5px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  #grillacontacto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "nav" "formulario" " formulario" "footer";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 2%;
  }
}
/*# sourceMappingURL=styles.css.map */