    


    nav ul li {
        
        display: inline-block;
        align-content: center;
        list-style-type: none;
        margin:20px;
    }

    .header{
        text-align: center;
    }
    .generales_extend{
        font-family: 'Gloria Hallelujah', cursive;
        font-size: large;
         text-decoration: none;
         text-align:center;
        border-radius: 10px
        
    }

    h2 {
        @extend .generales_extend;
            background-color:#302939dc ;
            color: #ee5695e2;
            border: 10px solid #ee5695e2;
            border-style:solid;
            letter-spacing: 0.25cm;
            padding: 20px 20px 20px 30px;}

    .a {
       @extend .generales_extend;
        background-color: #302939cc;
        color: #ee5695e2;
        display:inline-block;
        justify-content: space-between;
        letter-spacing: 00.1cm;
        padding: 15px;
        border: 3px solid #ee5695e2;
        border-style: solid;
    }
    
    #wn{
    @extend .generales_extend;
        background-color:#ee5695c8 ;
        color:#302939cc ;
        display: inline-block;
        margin-top: 15px;;
        padding: 20px ;
        border: 3px solid #302939dc;
      
    }

@mixin gifs ($float, $clear, $margin){
    float: $float;
    clear: $clear;
    margin: $margin;
}

.gifindex{
@include gifs(right, both, 20px)
}
.gifizq{
  @include gifs (left, both, 20px)
}
    
.btn--twitter {
    @extend .generales_extend;
    background-color: #1DA1F2;
    padding: 10px ;
  }
  
  .btn--facebook {
    @extend .generales_extend;
    background-color: #4267B2;
    padding: 10px ;
  }
  
  .btn--instagram {
    @extend .generales_extend;

    background-color: #E1306C;
    padding: 10px ;
  }

  $redesSociales: ( 
       twitter: #1DA1F2, 
       facebook:#4267B2,
       instagram:#E1306C,
);
@each $red, $color in $redesSociales {
    .btn--#{$blue}{
        background-color: $color;
    }
}

    
.btn-outline-dark {
    color: #000000c8;
    background-color:#ee5695c8;
    border-color: #212529;
}

.navbar-toggler {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}
    
       
        .textoinicial {
    
            font-family: 'Anek Bangla', sans-serif;
            color: #f1b2cd;
            text-align: justify;
            background-color: #302939ee;
            border-radius: 10px;
            margin: 20px;
            padding: 30px 20px 20px 30px;}
    
 
    .delimitador{
        width:560px;
        margin:auto;
        }
    
        
.video-responsive {
    overflow:hidden;
    padding-bottom:400px; 
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

        img {
            height: auto;
            max-width: 100%;
            }
    
    
     .back{
         background-color: #302939cc;
     }
     
     .carousel-item {
        display:none;
        position: relative;
        justify-content: center;
        width: 100%;
        margin:2% 55% 4% 60%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition:transform .6s ease-in-out;
       }
        
        
 /*BACKGROUND*/

 .body1 {
    background-image: url("https://preview.redd.it/chpne07xcm561.jpg?width=960&crop=smart&auto=webp&s=c2f2ea28135d9c91dbb5c605fcbd222aef3e8e21");
    background-size: cover;


}

.body2 {
    background-image: url("https://preview.redd.it/ne8oqdotffb61.jpg?width=960&crop=smart&auto=webp&s=220ff3e815d6ed62945435b637c98f74a4f91c1f");
    background-size: cover;
}

.body3{
    background-image: url("https://preview.redd.it/pyc8x52rukc61.jpg?width=960&crop=smart&auto=webp&s=eb95bb304d3736ef8603ef0cf1f2fcfc280818ce");
    background-size: auto;
}

.body4{
background-image: url("https://i.redd.it/6tyi4v5xg7b61.jpg");
background-size: cover;
}
.body5{

background-image: url("https://i.redd.it/4ggz7tb5aqh61.jpg");
background-size:cover;
}

.body6{background-image: url("https://i.redd.it/1tez8shazvi61.jpg");
background-size: cover;}
